.container {
  display: flex;

  .selected-products-container {
    width: 350px;
    min-width: 350px;
  }

  .total-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-top: 20px;
  }

  .tiled-products-container {
    margin-left: 40px;
  }
}
