.container {
  .product-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
  }
  .delete-icon {
    color: #FF4D4F;

    &:hover {
      color: #cf1322;
    }
  }
}